# Folders
.github/
.workflows/
.next/
.vercel/
.vscode/
.Extra/
.Assets/
.types/
.pnpm-store/
dist/
out/
Extra/
backup/
backup client/
backup netlify/
backup vercel/
.next/
.nuxt/
.output/
logs/
pids/
coverage/
.fleet/
.tmp/
temp/
tmp/
.idea/
.atom/
$RECYCLE.BIN/
documents/
.snapshots/*
.nyc_output/
.cache/
.parcel-cache/
.sass-cache/
.turborepo/
.webpack/
.swc/
.rollup.cache/
test-results/
playwright-report/

# Dependencies
/.pnp
.pnp.*
.yarn/*
.yarn/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.yarn-integrity
yarn.lock
.node_modules/
.vercel
.netlify
.node_repl_history

# Specific files
*.tsbuildinfo
*.pem
.brackets.json
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
.Spotlight-V100
.Trashes
.fseventsd
.DocumentRevisions-V100
.apdisk
.localized
.VolumeIcon.icns
Network Trash Folder
.LSOverride
.fuse_hidden*
.directory
.xdg-volume-info
config.json
local.properties
.loadpath
.project
.buildpath
pnpm-lock.yaml

# Config
.DS_Store
.DS_Store?
desktop.ini
tsconfig.temp.json
tsconfig.temp.tsbuildinfo
tsconfig.tsbuildinfo
copilot-instructions.md

# Apple files
.AppleDB
.AppleDouble
.AppleDesktop
.com.apple.timemachine.donotpresent

# Temp
.TemporaryItems
Temporary Items

# Eslint
.eslintcache

# Security
.env
.env*
.env.local
.env.development
.env.test
.env.production
.env.*.local
.env.backup
.vscode-test/
.history/
.next-env.d.ts

# Filetypes
*.svg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm
*.mj2
*.jxr
*.hdp
*.wdp
*.gif
*.raw
*.webp
*.apng
*.mng
*.tiff
*.tif
*.svg
*.svgz
*.pdf
*.xbm
*.bmp
*.dib
*.ico
*.3dm
*.max
*.db
*.sqlite
*.sqlite3
*.pem
*.key
*.crt
*.p12
*.app
*.tgz
*.map
*.stackdump
*.lnk
*.cab
*.msi
*.msix
*.msm
*.msp
*.dmp
*.spec.js.snap
*.test.js.snap
.nfs*
.gvfs
*.tmp
*.temp
*.backup
*.bak
*.gho
*.ori
*.orig
*.swp
*.swo
*~
*~.nib
*.log
*.pid
*.seed
*.pid.lock
*.lcov
*.code-workspace
._*
*.sublime-*
*.sublime-project
*.sublime-workspace
.Trash-*
Icon?
Icon


# production
/build
.middleware.ts

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# Packages
jspm_packages/
.npm
node_modules
node_modules
