@import "tailwindcss";
@import "./styles/themes/DarkMode.css";
@import "./styles/themes/Animations.css";
@import "./styles/themes/Buttons.css";
@import "./styles/themes/MediaPreview.css";
@import "./styles/themes/ChatInterface.css";

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 1rem);
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
      sans-serif;
    box-sizing: border-box;
  }
  body {
    height: 100%;
    overflow-x: hidden;
    background-image: url(https://i.pinimg.com/1200x/bd/43/70/bd437047b810570d08d225b4d39b8c6a.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
